<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="JCR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-jcr.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="JMS_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-jms.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="AUDIT_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-audit.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="API_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-api.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="KERNEL_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-kernel.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="REPO_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-repo.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="AUTH_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${fcrepo.log.directory}/fcrepo-auth.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Canada/Mountain} %p [%t] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.fcrepo.auth" additivity="false" level="${fcrepo.log.auth:-INFO}">
        <appender-ref ref="AUTH_LOG"/>
    </logger>
    <logger name="org.fcrepo.connector.file" additivity="false" level="${fcrepo.log.connector.file:-INFO}">
        <appender-ref ref="REPO_LOG"/>
    </logger>
    <logger name="org.fcrepo.http.api" additivity="false" level="${fcrepo.log.http.api:-INFO}">
        <appender-ref ref="API_LOG"/>
    </logger>
    <logger name="org.fcrepo.http.commons" additivity="false" level="${fcrepo.log.http.commons:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.fcrepo.jms" additivity="false" level="${fcrepo.log.jms:-DEBUG}">
        <appender-ref ref="REPO_LOG"/>
    </logger>
    <logger name="org.fcrepo.kernel" additivity="false" level="${fcrepo.log.kernel:-INFO}">
        <appender-ref ref="KERNEL_LOG"/>
    </logger>
    <logger name="org.fcrepo.transform" additivity="false" level="${fcrepo.log.transform:-INFO}">
        <appender-ref ref="REPO_LOG"/>
    </logger>
    <logger name="org.fcrepo" additivity="false" level="${fcrepo.log:-INFO}">
        <appender-ref ref="REPO_LOG"/>
    </logger>
    <logger name="org.fcrepo.audit" additivity="false" level="${fcrepo.log.audit:-TRACE}">
        <appender-ref ref="AUDIT_LOG"/>
    </logger>
    <logger name="org.modeshape.jcr" additivity="false" level="{fcrepo.log.jcr:-INFO}">
        <appender-ref ref="JCR_LOG"/>
    </logger>
    <root additivity="false" level="WARN">
        <appender-ref ref="SYSOUT"/>
        <appender-ref ref="REPO_LOG"/>
    </root>
</configuration>
